/**
 * created by Samson Iyanda on 10-10-2018
 */
//

.button {
  padding: 10px 25px;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  border-radius: 3px !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
