$info: #f6f8f9;;
$primary: #0095f7;


.is-transparent{
  background-color: transparent !important;
}

.container {
  padding: 0 16px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

.pos-fixed {
  position: fixed;
}

.w-100 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

@import "../../node_modules/bulma/sass/utilities/_all.sass";
// IMPORT EVERYTHING IN BASE
@import "../../node_modules/bulma/sass/base/_all.sass";

// IMPORT EVERYTHING IN ELEMENTS
@import "../../node_modules/bulma/sass/elements/_all.sass";

// IMPORT SOME COMPONENTS
@import "../../node_modules/bulma/sass/components/navbar.sass";

@import "../../node_modules/bulma/sass/grid/columns.sass";