
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.homeCard {
  overflow-y: scroll!important;
  height: 200px!important;
  scroll-behavior: smooth!important;
}
body {
  background: url(../img/research.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;

}

.textpedia-lg {
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  color: #e7e8e9;
  font-family: 'Raleway', sans-serif;
}
.textpedia-md {
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  color: #e7e8e9;
  font-family: 'Raleway', sans-serif;
}

.textpedia-sm {
  font-size: 17px;
  font-weight: 100;
  color: #e7e8e9;
  font-family: 'Raleway', sans-serif;
}

.textpedia-desc {
  color: #e7e8e9
}

.btn-round {
	background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: #00a84f;
	display: block;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
  text-decoration: none;
	text-transform: uppercase;
	width: 264px;
	z-index: 2;
}

.btn-round:hover {
	color: #fff;
}

.btn-round span {
	align-items: center;
	background: #e7e8e9;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.btn-round:hover span {
	background: transparent;
}

.textpedia-input {
  border-radius: 50px;
  height: 60px;
  padding: 5px 5px;
}

.textpedia-label {
  color: #ffffff;
  font-size: 20px;
}

.tp-white {
  color: #ffffff;
}

.navbar-nav>li>a {
    line-height: 60px;
    font-size: 16px;
}

.navbar-inverse {
    background-color: #e7e8e9;
    border-bottom-color: #080808;
}

.textpedia-card {
  background-color: rgba(247, 247, 247, 0.50);
  /* min-height: 400px; */
  color: #494848;
  text-align: justify;
  padding: 5px 20px 20px 20px;
}

.textpedia-hiw {
  font-size: 17px;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}

.tp-bm40 {
  margin-bottom: 40px;
}

.tp-hiw-btn {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  display: block;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  opacity: 0.9; 
  
  color: #ffffff;
	text-transform: uppercase;
  width: 264px;
  border: solid 2px #e7e8e9;
	z-index: 2;
}

.tp-hiw-btn:hover {
  color: #ffffff;
  background-image: linear-gradient(to right, #00a950 0%, #006175 100%);
  border: solid 2px #006175;
}


.active {
  color: #ffffff;
  background-image: linear-gradient(to right, #00a950 0%, #006175 100%);
  border: solid 2px #006175;
}

#tp-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#tp-scroll::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#tp-scroll::-webkit-scrollbar-thumb {
	background-color: #000000;
	border: 2px solid #555555;
}

.scrollbar {
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 450px;
}
